@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --main-color: #e52152;
    --white: #fff;
    --black: #000;
}

* {
    font-family: 'Open Sans', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none; border: none;
}

html {
    font-size: 62.5%;
    overflow-x: hidden; 
}

body {
    background-color: var(--white);
    font-size: 1.6rem;
    transition: .2s linear;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.top {
    flex-grow: 1;
}

.container {
    width: 100%;
    height: 100%;
    max-width: 140rem;
    margin: 0 auto;
    padding: 0 1.5rem;
}

.title {
    text-align: center;
    margin-bottom: 1.5rem;
}

.title h1 {
    font-size: 5rem;
}

.subtitle {
    max-width: 70rem;
    margin: 0 auto;
}

.subtitle h3 {
    text-align: center;
}

button {
    padding: 1rem 2rem;
    background-color: green;
    color: var(--white);
    font-size: 2rem;
    border-radius: 10rem;
    cursor: pointer;
}

/* Navbar */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--main-color);
    width: 100%;
    height: 10rem;
    z-index: 100;
}

.navbar-wrap {
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.hamb, .popup {
    display: none;
}

.menu > li {
    list-style: none;
}

.navbar-wrap .menu {
    display: flex;
}

.navbar-wrap .menu > li {
    display: flex;
    align-items: stretch;
}

.navbar-wrap .menu > li > a {
    display: flex;
    align-items: center;
    color: var(--white);
    font-size: 2rem;
    padding: 0 2rem;
    opacity: .8;

    transition: opacity .2s linear;
}

.navbar-wrap .menu > li > a:hover {
    opacity: 1;
    text-decoration: underline;
}

/* Intro */
.intro {
    background-image: url('../img/intro.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 70rem;
    margin-top: 10rem;
}

.intro-title {
    padding-top: 15rem;
    padding-bottom: 5rem;
}

.intro-title h1 {
    color: var(--white);
    font-size: 15rem;
    font-weight: 900;
}

.intro-text p {
    color: var(--white);
    font-size: 2.5rem;
    font-weight: 600;
}

/* Stock */
.stock {
    margin-top: 10rem;
}

.stock-items {
    display: grid;
    grid-template-columns: repeat(auto-fit, 40rem);
    justify-content: center;
    gap: 5rem;
    margin-top: 5rem;
}

.stock-item {
    border: .1rem solid grey;
    padding: 2rem;
    text-align: center;
}

.stock-image img {
    width: 100%;

    transition: scale .2s linear;
}

.stock-image img:hover {
    scale: 1.1;
}

.stock-item-title h2 {
    margin: 2rem 0;
    text-transform: uppercase;
}

.stock-text p {
    font-size: 2rem;
}

.stock-price {
    margin: 1rem 0;
    font-weight: 700;
    font-size: 2rem;
}


/* Numbers */
.numbers {
    margin-top: 10rem;
}

.numbers-items {
    display: grid;
    grid-template-columns: repeat(auto-fit, 30rem);
    justify-content: center;
    gap: 5rem;
    margin-top: 5rem;

}

.number-item {
    padding: 2rem;
    text-align: center;
}

.number-item-title {
    margin: 2rem 0;
    text-transform: uppercase;
}

.number-price {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 1.5rem;
}

.number-text {
    margin-bottom: 2rem;
}

/* Advantages */
.advantages {
    background-image: url('../img/advantages-background.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 50rem;
    margin-top: 10rem;
}

.advantages-title h1 {
    color: var(--white);
}

.advantages-inner {
    display: grid;
    grid-template-columns: repeat(auto-fit, 35rem);
    place-content: center;
    gap: 2rem;
    margin-top: 10rem;
}

.advantage-item {
    text-align: center;
}

.advantage-image img {
    height: 12rem;
    margin-bottom: 2rem;
}

.advantage-title h2 {
    color: var(--white);
    font-size: 3rem;
}

/* About */
.about {
    background-color: #dfdcdc;
    margin-top: 10rem;
    padding: 5rem;
}

.about-title {
    margin-bottom: 5rem;
}

.about-inner {
    display: grid;
    grid-template-columns: repeat(auto-fit, 30rem);
    place-content: center;
}

.about-item {
    text-align: center;
}

.about-number h1 {
    color: #008000;
    font-size: 7rem;
    font-weight: 900;
}

.about-number p {
    font-size: 2rem;
}

/* Reviews */
.reviews {
    margin-top: 10rem;
}

.reviews-title {
    margin-bottom: 5rem;
}

.review-item {
    text-align: center;
}

.review-image {
    margin-bottom: 3rem;
}

.review-text {
    max-width: 70rem;
    margin: 1rem auto;
}

.review-image img {
    height: 10rem;
    border-radius: 10rem;
}

/* Address */
.address {
    margin-top: 10rem;
}

.subtitle {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 3rem;
}

.address iframe {
    width: 100%;
    height: 50rem;
}

/* Footer */
.footer {
    background-color: #000;
    margin-top: 10rem;
    padding: 5rem;
}

.footer-inner {
    display: grid;
    grid-template-columns: repeat(auto-fit, 35rem);
    gap: 5rem;
    justify-content: center;
}

.footer-item {
    color: var(--white);
}

.footer-title {
    border-bottom: .3rem solid green;
    width: 20rem;
    margin: 1rem 0;
}

.footer-text p {
    margin: 1rem 0;
}

.footer-form form {
    width: 30rem;
}

.footer-form form input {
    padding: 1rem;
}

/* Register */
.register {
    margin: 15rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
}

form {
    display: flex;
    flex-direction: column;
    width: 50rem;
}

label {
    font-size: 2rem;
}

input {
    border-bottom: .1rem solid var(--main-color);
    margin: 1.5rem 0;
    font-size: 1.8rem;
    padding: 0 .5rem;
}

.register-btn {
    background-color: var(--main-color);
}

form p {
    margin: 1rem 0;
    text-align: center;
}


/* Media */
@media (max-width: 1024px) {
    .advantages {
        height: auto;
    }

    .advantages-inner {
        padding-bottom: 10rem;
    }

    .intro-title h1 {
        font-size: 10rem;
    }

    .footer-title {
        width: 100%;
    }

    .footer-form form {
        width: 35rem;
    }

    .footer-inner {
        text-align: center;
    }
}

@media (max-width: 768px) {
    .title h1 {
        font-size: 4rem;
    }

    .navbar-wrap .menu {
        display: none;
    }

    .hamb {
        display: flex;
        align-items: center;
        cursor: pointer;
    }

    .hamb__field {
        padding: 10px 20px;
        cursor: pointer;
    }

    .bar {
        display: block;
        width: 30px;
        height: 3px;
        margin: 6px auto;
        background-color: #fff;
        transition: .2s;
    }

    .popup {
        position: fixed;
        top: 10rem;
        left: -100%;
        width: 100%;
        height: 100%;
        background-color: var(--main-color);
        z-index: 100;
        display: flex;
        transition: .5s;
    }

    .popup.open {
        left: 0;
    }

    .popup .menu {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        padding: 50px 0;
        overflow: auto;
    }

    .popup .menu > li {
        width: 100%;
    }

    .popup .menu > li > a {
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 20px 0;
        font-size: 20px;
        font-weight: 700;
        color: var(--white);

        transition: background-color .1s linear, color .1s linear;
    }

    .popup .menu > li > a:hover {
        background-color: #E2D6D3;
        color: var(--black);
    }

    .hamb-field.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamb-field.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamb-field.active .bar:nth-child(3) {
        transform: translateY(-.8rem) rotate(-45deg);
    }

    body.noscroll {
        overflow: hidden;
    }
}